.root {
    -fx-text-fill: white;          /* Default text color */
    -fx-font-family: "Segoe UI";   /* Default font family */
}

.label, .button, .text {
    -fx-font-smoothing-type: lcd;  /* or gray */
}

.button {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: white;
}

.text-field {
    -fx-font-size: 1.2em;
    -fx-background-color: #c5c5c5;
    -fx-prompt-text-fill: #555555;
}

.list-view {
    -fx-background-color: #2e2e2e;
}

.list-cell {
    -fx-background-color: #202020;
    -fx-text-fill: white;
    -fx-font-size: 1.3em;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#ff4d41 0%, #ff2c26 25%, #f81418 75%, #e00313 100%);
    -fx-text-fill: white;
}

.window-close-btn {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: white;
    -fx-font-size: 1.3em;
    -fx-padding: 0 8; /* Top/Bottom, Left/Right*/
    -fx-background-radius: 4;
    -fx-border-color: transparent;
    -fx-border-radius: 4;
}

.window-close-btn .label {
    -fx-text-fill: white;
}

.window-close-btn .arrow-button {
    -fx-background-color: transparent;
}

.window-close-btn:hover {
    -fx-background-color: #3a3a3a;
    -fx-cursor: hand;
}

.save-btn {
    -fx-background-color: linear-gradient(#ff4d41 0%, #ff2c26 25%, #f81418 75%, #e00313 100%);
    -fx-text-fill: white;
    -fx-font-size: 1.3em;
    -fx-padding: 0 8; /* Top/Bottom, Left/Right*/
    -fx-background-radius: 4;
    -fx-border-color: transparent;
    -fx-border-radius: 4;
}

.save-btn .label {
    -fx-text-fill: white;
}

.save-btn .arrow-button {
    -fx-background-color: transparent;
}

.save-btn:hover {
    -fx-background-color: linear-gradient(#ff6f65 0%, #ff4943 25%, #ff2e31 75%, #c81e29 100%);
    -fx-cursor: hand;
}

.tomato-button {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-background-radius: 10%;

    -fx-min-width: 3em;
    -fx-min-height: 2em;
    -fx-max-width: 5em;
    -fx-max-height: 2.5em;

    -fx-background-color: linear-gradient(#ff4d41 0%, #ff2c26 25%, #f81418 75%, #e00313 100%);
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;

    /* Smooth transition for animation */
    -fx-transition: -fx-background-color 0.3s, -fx-effect 0.3s;
}

.tomato-button:hover {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(#ff6f65 0%, #ff4943 25%, #ff2e31 75%, #c81e29 100%);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 12, 0.3, 2, 2);
}

.create-preset-button {
    -fx-min-width: 120;
    -fx-min-height: 35;
    -fx-font-size: 1.3em;
}

.create-preset-button:hover {
    -fx-background-color: #3a3a3a;
    -fx-cursor: hand;
}

.focus-task-title {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.list-view {
    -fx-background-color: #202020;
}

