/* Style custom title bar */
.custom-title-bar {
    -fx-background-color: #2e2e2e; /* Dark grey */
    -fx-border-color: #444;
    -fx-border-width: 0 0 1px 0; /* Bottom border only */
    -fx-border-style: solid;
    -fx-padding: 4;
    -fx-spacing: 10;
    -fx-alignment: center-left;
}

/* Base styling for buttons and menu buttons in the title bar */
.topbar-button {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: white;
    -fx-font-size: 1em;
    -fx-padding: 0 8; /* Top/Bottom, Left/Right*/
    -fx-background-radius: 4;
    -fx-border-color: transparent;
    -fx-border-radius: 4;
}

/* Force the text inside MenuButtons to be white */
.topbar-button .label {
    -fx-text-fill: white;
}

.topbar-button .arrow-button {
    -fx-background-color: transparent;
}

.topbar-button:hover {
    -fx-background-color: #3a3a3a;
    -fx-cursor: hand;
}

.context-menu {
    -fx-background-color: #2e2e2e;
    -fx-border-color: transparent;
    -fx-effect: none;
}

.menu-item {
    -fx-text-fill: white;
    -fx-background-color: #2e2e2e;
    -fx-font-size: 1em;
    -fx-padding: 6 12;
}

.menu-item:focused {
    -fx-background-color: #3a3a3a;
}
