/* Style custom title bar */
.custom-title-bar {
    -fx-background-color: #2e2e2e; /* Dark grey */
    -fx-border-color: #444;
    -fx-border-width: 0 0 1px 0; /* Bottom border only */
    -fx-border-style: solid;
    -fx-padding: 0 0 1 0; /* Top right bottom left */
    -fx-spacing: 10;
    -fx-alignment: center-left;
}

/* --- Normal Button --- */
.topbar-button {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: white;
    -fx-font-size: 1em;
    -fx-padding: 5 20;
    -fx-background-radius: 4;
    -fx-border-color: transparent;
    -fx-border-radius: 4;
}

.topbar-button .label {
    -fx-text-fill: white;
}

.topbar-button .arrow-button {
    -fx-background-color: transparent;
}

.topbar-button:hover {
    -fx-background-color: #3a3a3a;
    -fx-cursor: hand;
}

/* --- Close Buton ---*/
.topbar-close-button {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-min-width: 40px;
    -fx-max-height: Infinity;

    -fx-padding: 5 14;
}

/* Force the text inside MenuButtons to be white */
.topbar-close-button .label {
    -fx-text-fill: white;
}

.topbar-close-button .arrow-button {
    -fx-background-color: transparent;
}

.topbar-close-button:hover {
    -fx-background-color: #c42b1c;
    -fx-cursor: hand;
}

.context-menu {
    -fx-background-color: #2e2e2e;
    -fx-border-color: transparent;
    -fx-effect: none;
}

.menu-item {
    -fx-text-fill: white;
    -fx-background-color: #2e2e2e;
    -fx-font-size: 1em;
    -fx-padding: 6 12;
}

.menu-item:focused {
    -fx-background-color: #3a3a3a;
}
